aside.aside
    h2.aside__title CRM
    nav.nav.aside__nav
        ul.nav__list
            li.nav__item
                a(href="#").nav__link
                    i(aria-hidden="true").fa.fa-tachometer
                    span.nav__span Dashboard
            li.nav__item
                a(href="#").nav__link
                    i(aria-hidden="true").fa.fa-pie-chart
                    span.nav__span Reports
            li.nav__item
                a(href="#").nav__link
                    i(aria-hidden="true").fa.fa-briefcase
                    span.nav__span Customers
            li.nav__item
                a(href="#").nav__link
                    i(aria-hidden="true").fa.fa-calendar
                    span.nav__span Calendar