extends template

block title
    title CRM

block breadcrumsLink
    a(href="#").breadcrums__link Customers
block breadcrumsCustomer
    span.customer__name--breadcrums Max Jones
block userPhoto
    img(src="img/user.png", alt="userPhoto").photo
block userName
    span.name Lauren
block customerPhoto
    img(src="img/customer.png", alt="customerPhoto").photo
block customerName
    span Max Jones
block customerStatus
    span.customer__status gold
block customerPosition
    p.position Sales & Marketing
block phoneNumber
    a(href="tel:(+31) 140 175 468").phone__number (+31) 140 175 468
block addressLink
    a(href="https://goo.gl/maps/8r9CYrP8j9A2", target="_blank").address__link Binnenweg 50, Rotterdam